<% include ../includes/header.ejs %>
<script>
    $(document).ready(function () {
        $("ul li").removeClass("active");//this will remove the active class from previously active menu item
        $('#contact').addClass('active');
    });
</script>
<p>
    This is the contact page.
</p>

<% include ../includes/footer.ejs%>