<% include includes/header.ejs %>
<div class="container-fluid" id="pageSetWidth">
    <div class="row text-center padding" id="topHalfHome">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <img class="img-fluid" src="/images/nyxl.png">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="container" id="aboutMe">
                <div class="row h-100 justify-content-center align-items-center">
                    <h1 class="display-4">About Me</h1>
                    <p>
                        I am currently a senior at Sonoma State University, pursing a B.S. in computer science.
                        I have an understanding in object-oriented principles, Android mobile development, database
                        design, and
                        software developments such as agile.
                        I am very eager to learn and experiment new concepts.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center padding">
        <div class="col-12">
            <div class="social padding ">
                <div class="row h-100 justify-content-center align-items-center">
                    <h1 class="display-4">Social Networks</h1>
                </div>

                <div class="row h-100 justify-content-center align-items-center">

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2" id="socialIcon">
                        <a href="https://github.com/fast1997">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2" id="socialIcon">
                        <a href="https://www.linkedin.com/in/andy-dang-817b437a/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2" id="socialIcon">
                        <a href="https://www.youtube.com/channel/UCy2BGA4y0LP7ECbntn_3_Pw">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>

                </div>

            </div>
        </div>


    </div>

</div>
<% include includes/footer.ejs %>