<% include includes/header.ejs %>

<div class="container padding ">
    <div class="row text-center padding" >

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="aboutMe">
            <h1 class="display-4">About Me</h1>
            <img src="/images/nyxl.png">
            <div class="col-md-8 offset-md-2 center-block">
                <p>
                    I am currently a senior at Sonoma State University, pursing a B.S. in computer science.
                    I have an understanding in object-oriented principles, Android mobile development, database
                    design, and
                    software developments such as agile.
                    I am very eager to learn and experiment new concepts.
                </p>
            </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sticky-bottom" id="socialNetworks">
                <h2 class="display-4" id="socialTitle">Social Networks</h2>
            <div class="social">
                <a href="https://www.youtube.com/channel/UCy2BGA4y0LP7ECbntn_3_Pw">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://github.com/fast1997">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/andy-dang-817b437a/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>



<% include includes/footer.ejs %>