<% include ../includes/header.ejs %>
<script>
    $(document).ready(function () {
        $("ul li").removeClass("active");//this will remove the active class from previously active menu item
        $('#tutoring').addClass('active');
    });
</script>
<div class="container-fluid padding text-center" id="pageSetWidth">
    <div class="row welcome ">
        <div class="col-12">
            <h1 class="display-4">Practice Problems for CS215</h1>
            <hr class="my-4">
        </div>
    </div>
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card align-items-center">
                <img class="card-img-top" src="/images/nyxl.png">
                <div class="card-body ">
                    <h4 class="card-title">Practice Set 1</h4>
                    <a href="#PracticeProblems1" class="btn btn-dark">Download Questions</a>
                    <a href="#PracticeSolutions1" class="btn btn-dark">Download Solutions</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card align-items-center">
                <img class="card-img-top" src="/images/nyxl.png">
                <div class="card-body">
                    <h4 class="card-title">Practice Set 2</h4>
                    <a href="#PracticeProblems2" class="btn btn-dark">Download Questions</a>
                    <a href="#PracticeSolutions2" class="btn btn-dark">Download Solutions</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card align-items-center">
                <img class="card-img-top" src="/images/nyxl.png">
                <div class="card-body">
                    <h4 class="card-title">Practice Set 3</h4>
                    <a href="#PracticeProblems3" class="btn btn-dark">Download Questions</a>
                    <a href="#PracticeSolutions3" class="btn btn-dark">Download Solutions</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card align-items-center">
                <img class="card-img-top" src="/images/nyxl.png">
                <div class="card-body">
                    <h4 class="card-title">Practice Set 4</h4>
                    <a href="#PracticeProblems4" class="btn btn-dark">Download Questions</a>
                    <a href="#PracticeSolutions4" class="btn btn-dark">Download Solutions</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card align-items-center">
                <img class="card-img-top" src="/images/nyxl.png">
                <div class="card-body">
                    <h4 class="card-title">Practice Set 5</h4>
                    <a href="#PracticeProblems5" class="btn btn-dark">Download Questions</a>
                    <a href="#PracticeSolutions5" class="btn btn-dark">Download Solutions</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card align-items-center">
                <img class="card-img-top" src="/images/nyxl.png">
                <div class="card-body">
                    <h4 class="card-title">Practice Set 6</h4>
                    <a href="#PracticeProblems6" class="btn btn-dark">Download Questions</a>
                    <a href="#PracticeSolutions6" class="btn btn-dark">Download Solutions</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<% include ../includes/footer.ejs%>